            * {
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        text-align: center;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        vertical-align: center;
        align-self: center;
        align-content: center;
        justify-items: center;
        justify-self: center;
    }

    .main_container {
        border-radius: 75px;
        border-width: 2px;
        border-style: solid;
        height: fit-content;
        width: fit-content;
        padding: 100 200;
        box-shadow: gray 5px 5px;
        background-color: lightgray;
        border-width: 0px;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    p {
        margin-top: 20px;
    }

    #num_input {
        width: 400px;
        height: 350px;
        margin: 20px;
        border-radius: 30px;
        box-shadow: gray 5px 5px;
        background-color: white;
        text-align: center;
        border-width: 0px;
        font-size: 100px;
        margin-right: 100px;
        margin-left: 100px;
    }

    #guess_btn {
        margin: 10px;
        border-radius: 10px;
        box-shadow: gray 5px 5px;
        background-color: white;
        border-width: 0px;
        width: 100px;
        height: 40px;
        margin-bottom: 20px;
    }

    #guess_btn:active {
        margin: 10px;
        border-radius: 10px;
        box-shadow: gray 1px 1px;
        background-color: white;
        border-width: 0px;
        width: 100px;
        height: 40px;
        margin-bottom: 20px;
    }
    